<div class="p-6 md:p-12 font-sans">
  <div class="max-w-5xl mx-auto">
    <header class="mb-10">
      <h1 class="text-4xl font-black text-white mb-2 tracking-tighter drop-shadow-md">New Prompt Pack</h1>
      <p class="text-blue-200 font-medium">Create a fresh deck of chaos.</p>
    </header>
    
    <%= render "form", prompt_pack: @prompt_pack %>
  </div>
</div>
