<div class="p-4 md:p-8">
  <div class="max-w-5xl mx-auto">
    <header class="mb-10">
      <h1 class="text-4xl font-black text-white mb-2 tracking-tighter drop-shadow-md">New Prompt Pack</h1>
      <p class="text-blue-200 font-medium">Create a new prompt pack</p>
    </header>

    <%= render "ai_generation_requests/panel", pack: @prompt_pack, pack_type: "prompt_pack" %>
    <%= render "form", prompt_pack: @prompt_pack %>
  </div>
</div>
