<h1>Room: <%= @room.code %></h1>
<h2>Player: <%= @player.name %></h2>

<div id="hand_screen">
  <p>Waiting for players...</p>

  <div id="player-list">
    <% @room.players.each do |player| %>
      <p><%= player.name %></p>
    <% end %>
  </div>
</div>
